## CLASS

In [1]:
class Person:
    name="arati"
    age=20

In [2]:
obj=Person()

In [3]:
print(obj.name)

arati

In [4]:
print(obj.age)

20

## OOPs

### class

In [ ]:
class Student:  #Student is a class and class and pass is a keyword
    pass

In [ ]:
class Bank:
    name="ritik"
    age="20"
    address ="delhi"
    pincode=734009
    mobile=9647994822
    balance=10000
bank_obj=Bank()  #object

In [7]:
print("bank name:-",bank_obj.name)
print("bank age:-",bank_obj.age)
print("bank address:-",bank_obj.address)
print("bank pincode:-",bank_obj.pincode)
print("bank mobile:-",bank_obj.mobile)
print("bank balance:-",bank_obj.balance)

bank name:- ritik
bank age:- 20
bank address:- delhi
bank pincode:- 734009
bank mobile:- 9647994822
bank balance:- 10000

In [18]:
class Bank:               #function-outside the class
    name="ritik"          #method-inside the class
    age="20"
    address ="delhi"
    pincode=734009
    mobile=9647994822
    balance=10000
    def show_info(self):
        print(self.name)
        print(self.age)
bank_obj= Bank()

In [ ]:
bank_obj.show_info()

ritik
20

## constructor

In [22]:
class Bank:
    mera_name="ritik"    #class variable
    def __init__(self):   #create constructor
        self.name="ritik"  #instane variable
        self.age=20
bank_obj=Bank()

In [24]:
print(bank_obj.name)
print(bank_obj.age)

ritik
20

In [42]:
class Bank:
    def __init__(self,name,address,pincode,balance):
        self.name=name
        self.address=address
        self.pincode=pincode
        self.balance=balance
obj_bank=Bank(name="ritik",address="delhi",pincode=23445,balance=10000)

In [43]:
obj_bank.name

'ritik'

In [44]:
obj_bank.address

'delhi'

In [45]:
obj_bank.pincode,obj_bank.balance

(23445, 10000)

In [47]:
kapil_bank=Bank(name="kapil",address="delhi",pincode=235,balance=20000)

In [48]:
kapil_bank.name

'kapil'